:root {
    --real-black: rgb(30, 30, 30);
}

#container,
footer {
    margin: auto;
    max-width: 800px;
    max-height: 600px;
    min-width: 400px;
    min-height: 300px;
}

h1.title {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
}

table > caption {
    padding: 0.25rem;
    font-size: 1.25rem;
}

table,
th,
td {
    border: 1px solid var(--real-black);
}

.thead {
    text-align: center;
}

.sns ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.sns ul > li {
    margin: 0 1vw;
}

.sns i.fab {
    font-size: 1.5rem;
}
